.page-margins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  max-width: 101em;
}

.dark-blue:hover {
  background-color: #1890ff;
}

.intruction-margins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  max-width: 101em;
}

.add-mc-margins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 101em;
}

.adjust-list-padding {
  padding-inline-start: 0;
}
