.hero {
  min-height: 100px;
  height: auto;
  max-width: 84em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.block-display {
  display: block;
}

.page-margins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 101em;
}

.wave-image {
  background-image: url(../../images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-color {
  background-color: #f0f0f0;
}

.image-teacher {
  height: auto;
  margin-top: 2em;
}
.flex-item1 {
  flex: 1 1 25em;
  margin-left: 1em;
  margin-right: 1em;
}

.flex-item2 {
  flex: 2 2 2em;
}

.margins {
  font-size: 12px;
  width: 30em;
  margin-left: 1em;
  margin-right: 1em;
}

@media (max-width: 960px) {
  .hero {
    min-height: 100px;
    padding-bottom: 100px;
    max-width: 72em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1005px) {
  .margins {
    font-size: 12px;
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }
  .wave-image {
    background-image: url(../../images/wave.svg);
    background-repeat: no-repeat;
    background-size: auto 600px;
    background-position: 0px 50px;
  }
}
@media (max-width: 1362px) {
  .wave-image {
    background-image: url(../../images/wave.svg);
    background-repeat: no-repeat;
    background-size: auto 600px;
    background-position: 0px 50px;
  }
}
@media (max-width: 1456px) {
  .margins {
    font-size: 12px;
    width: 20em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
