.nav-margins {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  max-width: 84em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.logo {
  display: flex;
  height: 50px;
}
